/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
   .modal-footer{
      margin-top: 250px;
   }
   .head,form{
    text-align: center;
    color:black;
}
.container{
  color: black;
}

.no{
  margin-left: 400px;
}


.table-Section{
    margin-top: 20px;
}
table, td {
    background-color: white;
    /*border: 2px  black;*/
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}
body{
    background-color: white;
    background: fixed;
}


/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    #row { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
        /* Behave  like a "row" */
        border: 1px;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 10px; 
    }
    
    td:before { 
        /* Now like a table header */
       /*  position: absolute; */
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "ID: "; }
    td:nth-of-type(2):before { content: "NAME: "; }
    td:nth-of-type(3):before { content: "GENDER: "; }
    td:nth-of-type(4):before { content: "AGE: "; }
    td:nth-of-type(5):before { content: "EXPERIENCE: "; }
    td:nth-of-type(6):before { content: "EMAIL: "; }
    td:nth-of-type(7):before { content: "ADDRESS: "; }
    td:nth-of-type(8):before { content: "CONTACT NO: "; }
   
}